/* Sprites */
.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Robots */
.robot {
  background: url('./../img/robot-sprite.png') left center/425px;
  animation: play-robot .9s steps(19) infinite;
}

.robot-right {
  background-position: -301px -104px;
}

.robot-up {
  background-position: -2px -204px;
}

.robot-down {
  background-position: -302px -170px;
}

.robot-left {
  background-position: -333px -69px;
}

/* Dinosaurs */
.dinosaur {
  background: url('./../img/dinosaur-vita.png') left center/800px;
  animation: play-dinosaur 1s steps(5) infinite;
}

@keyframes play-dinosaur {
   100% { background-position: -500px; }
}

/* Board */
.board tbody {
  overflow: scroll;
}

.board tr {
  white-space: nowrap;
}

.board td > a {
  display: block;
  width: 30px;
  height: 30px;
}

.board td:hover {
  background-color: #ffffff;
}

/* Score */
.coin-gold {
  margin-left: 8px;
}

.coin-gold:after {
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
  content: "";
  background: url('./../img/coin-gold.png') left center/70px;
  background-position: 0px 0px;
  animation: play-coin 3.5s steps(15) infinite;
  width: 14px;
  height: 14px;
}

@keyframes play-coin {
   100% { background-position: 840px; }
}

/* Remote Control */
.remote-control .selection {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
}

/* No mouse events */
.pointer-events-none {
  pointer-events: none;
}

/* Adjustments */
#new-robot:after {
  margin-left: .855em;
}